Project_1: Statistical Learning

In [ ]:
Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.


You are required to do the following:

1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)
2. Print all the teams which have started playing between 1930-1980. (5 points)
3. Print the list of teams which came Top 5 in terms of points (5 points)
4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
      Goal_diff_count = GoalsFor - GoalsAgainst

5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

6. Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

          1                              25000

          2                              7000

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [4]:
laliga = pd.read_csv("laliga.csv",skiprows = 1)

In [5]:
laliga.head(2)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1

In [6]:
laliga.describe()

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

In [7]:
laliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [8]:
lal = laliga

In [20]:
laliga = laliga.replace('-',0)

In [21]:
laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

# 2. Print all the teams which have started playing between 1930-1980

In [53]:
#laliga['Debut1'].apply(lambda x: int(str(x)[:4]))
laliga['Debut1'] = laliga['Debut1'].str.extract('(?P<year>\d{4})').astype(int)
laliga['Debut1'].tail()

56    2009
57    1956
58    1951
59    1955
60    2017
Name: Debut1, dtype: int32

In [67]:
laliga['Team'].nunique()

61

In [74]:
laliga[(laliga['Debut1'] >= 1930) & (laliga['Debut1'] <= 1980)]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

# 3. Print the list of teams which came Top 5 in terms of points

In [162]:
 laliga['Points'] = laliga['Points'].astype(int)

In [184]:
laliga[['Team','Points']].nlargest(5,'Points')

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

# 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
      Goal_diff_count = GoalsFor - GoalsAgainst

In [155]:
 laliga['GoalsFor'] = laliga['GoalsFor'].astype(int)

In [208]:
 laliga['GoalsAgainst'] = laliga['GoalsAgainst'].astype(int)

In [158]:
Goal_diff_count = lambda x,y: x - y

In [247]:
def Goal_diff_count(x):
    x['GoalDiff'] = x['GoalsFor'] - x['GoalsAgainst']
    print(x[['Team','GoalDiff']])
    print("Team that had maximum goal difference ")
    print(x[['Team','GoalDiff']].max())
    print("Team that had minimum goal difference ")
    print(x[['Team','GoalDiff']].min())

In [248]:
Goal_diff_count(laliga)

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
Team that had maximum goal difference
Team        Zaragoza
GoalDiff        2807
dtype: object
Team that had minimum goal difference
Team        AD Almeria
GoalDiff          -525
dtype: object

In [232]:
laliga['GoalDiff'] = laliga['GoalsFor'] - laliga['GoalsAgainst']
laliga[['Team','GoalDiff']]
laliga[['Team','GoalDiff']].nlargest(5,'GoalDiff')

              Team  GoalDiff
0      Real Madrid      2807
1        Barcelona      2786
2  Atletico Madrid      1225
4  Athletic Bilbao       931
3         Valencia       929

In [241]:
laliga.info()
#laliga.drop('newcol',axis = 1,inplace = True)
#laliga.drop('GoalDiff',axis = 1,inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 22 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null int32
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null int32
GoalsAgainst     61 non-null int32
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
Debut1           61 non-null int32
GoalDiff         61 non-null int32
dtypes: int32(5), int64(3), object(14)
memory usage: 9.4+ KB

In [159]:
Goal_diff_count(laliga['GoalsFor'],laliga['GoalsAgainst'])

0     2807
1     2786
2     1225
3      929
4      931
5      307
6     -280
7       -2
8     -164
9     -333
10    -136
11    -346
12    -413
13    -525
14    -399
15    -334
16    -342
17    -309
18    -189
19    -399
20     103
21    -338
22    -328
23    -272
24    -113
25    -334
26    -125
27    -385
28    -165
29    -202
      ...
31    -228
32    -269
33    -198
34    -169
35     -90
36    -122
37    -145
38     -42
39     -94
40     -94
41     -56
42     -98
43     -28
44     -81
45     -38
46    -114
47     -55
48     -45
49    -107
50     -62
51     -31
52     -45
53     -34
54    -112
55     -19
56     -28
57     -20
58     -34
59     -31
60       0
Length: 61, dtype: int32

In [163]:
laliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 21 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null int32
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null int32
GoalsAgainst     61 non-null int32
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
Debut1           61 non-null int32
dtypes: int32(4), int64(3), object(14)
memory usage: 9.1+ KB

# 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [250]:
laliga['GamesWon'] = laliga['GamesWon'].astype(int)
laliga['GamesPlayed'] = laliga['GamesPlayed'].astype(int)


#laliga['Winning Percent'] = (laliga['GamesWon']/laliga['GamesPlayed'])*100

In [255]:
laliga['Winning Percent'] = (laliga['GamesWon']/laliga['GamesPlayed'])*100

In [271]:
laliga['Winning Percent'].fillna(0.0,inplace= True)

In [275]:
laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,GoalDiff,Winning Percent
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009-10,2009-10,20,2009,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,1956,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,1951,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,1955,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,2017,0,0.000000

In [277]:
laliga[['Team','Winning Percent']].nlargest(5,'Winning Percent')

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

# 6. Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

          1                              25000

          2                              7000

In [297]:
laliga.groupby('BestPosition')[['Points']].sum()

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34